:root {
    --background: #fafafa;
    --accent: #75c4a4;
    --grey: #525252;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--grey);
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr 50% 1fr;
    grid-template-areas:
        ". header ."
        ". main ."
        ". footer .";
    margin: 120px auto;
    grid-gap: 64px;
}

p {
    line-height: 1.5em;
}

h1 {
    font-size: 2.5rem;
    font-weight: 100;
}

h2 {
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 16px;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
}

a, a:visited {
    display: inline-block;
    color: var(--grey);
    font-weight: 700;
    text-decoration: none;
}

a:hover, a:active {
    color: var(--accent);
    text-decoration: none;
    font-weight: 700;
}

a::after {
    display: block;
    content: '';
    border-bottom: 2px solid var(--accent);
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

a:hover::after {
    transform: scaleX(1);
}

header {
    grid-area: header;
    margin: 0 auto;
    text-align: center;
}

    header > nav > ul {
        list-style-type: none;
        margin: 16px auto;
    }

        header > nav > ul > li {
            display: inline;
            margin-right: 32px;
        }

            header > nav > ul > li > a {
                font-weight: 300;
                text-transform: uppercase;
            }

                header > nav > ul > li > a:hover {
                    font-weight: 300;
                }

    header > img {
        border-radius: 100%;
        width: 50%;
        height: 50%;
        margin: 64px auto;
    }

    header > img:hover {
        box-shadow:
            rgba(0, 0, 0, 0.3) 0px 0px 8px 4px,
            rgba(0, 0, 0, 0.3) 0px 0px 8px 4px;
    }

main {
    grid-area: main;
}

.main__work {
    margin: 64px auto;
}

    .main__work-wrapper {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "design code"
            "writing gamedev";
        grid-gap: 32px;
    }

        .main__work-wrapper--design {
            grid-area: design;
        }

        .main__work-wrapper--code {
            grid-area: code;
        }

        .main__work-wrapper--writing {
            grid-area: writing;
        }

        .main__work-wrapper--gamedev {
            grid-area: gamedev;
        }

footer {
    grid-area: footer;
}

    .footer__contact > ul {
        list-style-type: none;
    }

        .footer__contact > ul > li {
            display: inline;
            font-size: 2.5rem;
            margin-right: 32px;
        }
