:root {
    --background: #fafafa;
    --backgroundend: #e0e2e0;
    --accent: #75c4a4;
    --grey: #222;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(circle, var(--backgroundend), var(--background));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #b5b5b5;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "main"
    "navigation";
    justify-items: center;
    align-items: center;
}

h1 {
    color: var(--grey);
    padding: 40px 0 20px 0;
    font-size: 2rem;
}

p {
    font-weight: 100;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.25rem;
}

a, a:visited {
    color: var(--grey);
}

a:hover, a:active {
    color: var(--accent);
}

.main {
    grid-area: main;
    margin: 0 auto;
}

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 80px;
    }

    img:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px 0px, rgba(0, 0, 0, 0.5) 0px 0px 12px 0px;
    }

nav {
    grid-area: navigation;
    text-align: center;
    font-size: 1.25rem;
}

    nav > ul {
        list-style: none;
    }

    nav > ul > li {
        display: inline;
        padding: 15px;
    }
