---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
	<h2>About me</h2>
	<p class="paragraph">
        While I mostly focus on the frontend side of things, I also enjoy doing some more of the infrastructure-y
        (cool people call that DevOps now?) things. I specialise in web based projects from scratch that are
        minimal, easy to use, performant and built with efficiency in mind. Spending time away from the desk I love
        to take out the mountainbike for a ride around the area (or farther than that).
    </p>
    <p class="paragraph">
        This site is my personal playground on the web so things might change frequently as I'm going to try out new
        things here.
    </p>
	<h2>About this site</h2>
	<p class="paragraph">
		This site is a completely static build realised with <a href="https://astro.build">Astro</a>.
		Currently I'm authoring it using markdown files, which, at the moment, works well for my case. However, I might
		add a CMS later on, whatever you'll be informed as I intend to document the journey somehow (most likely
		<a href="/notes">written</a>).
	</p>
	<p class="paragraph">
		While I strive to make this site as accessible as possible and have tested it using available (assistive)
		technologies, no one is perfect and should you find something that doesn't work right in that regard, feel free
		to
		open an <a href="https://github.com/stephfh/stephfh.github.io/issues">issue</a> in my repo and we'll improve on
		it.
	</p>
	<p class="paragraph">
		If you want, you may also follow me on <a href="https://mastodon.social/@stephanie" rel="me">Mastodon</a> or <a
		href="https://twitter.com/Steffi128_" rel="me">Twitter</a>.
	 </p>
</BaseLayout>