---
---
<nav class="navigation" id="main-navigation">
	<ul class="navigation__list">
		<li class="navigation-list__item">
			<a href="/" class="navigation-list-item__anchor">About</a>
		</li>
		<li class="navigation-list__item">
			<a href="/uses" class="navigation-list-item__anchor">Uses</a>
		</li>
		<li class="navigation-list__item">
			<a href="/notes" class="navigation-list-item__anchor">Notes</a>
		</li>
	</ul>
</nav>